<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TlsExcelFile" value="C:\TasksFolder\tlsexcelfile.xlsx" />
    <add key="InstalTasklingExcelFile" value="C:\TasksFolder\installtasklingexcelfile.xlsx" />


    <add key="UpdateComponetsExcelFile" value="C:\TasksFolder\ListadoComponentes.xlsx" />
    
    <add key="ExcelWriteFile" value="C:\Trabajo\TSLOperaciones\ftp.xlsx" />
    
    <add key="JsonTlsWithOutTeamFile" value="C:\TasksFolder\TlsWithOutTeam.json" />
    <add key="WorkSpace" value="C:\TasksFolder\" />
    
    
    
    
    <add key="JiraEndPoint" value="http://localhost:61045/v1/Jira/CreateTickets" />
    <add key="JiraTicketsReporterEndPoint" value="http://localhost:61045/v1/Jira/GetReporterTickets" />
    <add key="JiraTicketsCMDBInfoEndPoint" value="http://localhost:61045/v1/Jira/GetApplicationsCMDBInfo" />
    
    <add key="RootDirectoryToExplore" value="d:\PruebaDir" />
    <add key="JsonPath" value="C:\Trabajo\" />
    
  </appSettings>
</configuration>


