<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Excel" value="C:\Trabajo\Nugets.xlsx" />
    <add key="JsonFile" value="C:\Trabajo\FTPSearchpath.txt" />
    <add key="JiraEndPoint" value="http://localhost:61045/V1/Jira/GetApplicationsCMDBInfo" />
    <add key="RootDirectoryToExplore" value="d:\PruebaDir" />
  </appSettings>
</configuration>